.chartBox {
  /* margin-bottom: 1.5rem;
  min-width: 0; */
  width: 100%;
  max-width: 320px;
  margin: auto;
  text-align: center;
}
.chartBox h4 {
  margin-bottom: 0.75rem;
  color: #7c3aed;
}

.chartWrapper {
  position: relative;
  height: 220px;
  width: 100%;
}
