.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;

  z-index: 100;
  overflow-x: hidden;
}
.greeting {
  color: var(--color-text);
  font-size: 1.4rem;
}

.logoWrapper {
  display: none;
}

.hamburgerWrapper {
  display: none;
}
@media (max-width: 400px) {
  .logoWrapper {
    display: block;
  }

  .greeting {
    display: none;
  }
  .avtarWrapper {
    display: none;
  }
  .hamburgerWrapper {
    display: block;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 1rem 0.7rem;
  }

  .greeting {
    font-size: 1.2rem;
  }
}
