.wishlistPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.controls {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .wishlistPage {
    padding: 1rem 0.2rem 1.5rem 0.2rem;
    gap: 1.2rem;
  }
  .controls {
    flex-direction: column;
    gap: 0.7rem;
    align-items: stretch;
  }
}
