.DashboardLayout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContent {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
